.App {
  text-align: center;
  margin: auto;
  width: 300px;
  /* border: 1px solid red; */
  background-color: rgb(220, 220, 220);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin-top: 50px;
  border-radius: 10px;
}
.App >div{
  text-align: center;
  margin: auto;
  /* width: 300px; */
  /* border: 1px solid red; */
  padding: 20px;
  
}
.App >div h1{
  
  margin-top: 0;
  
  
  
}

.todoItem{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}
.todoDiv{
  /* border: 2px solid violet; */
  margin: auto;
  max-width: 220px;

}
.todoDivContent{
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid blue; */
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 5px 10px;
  /* font-weight: 500; */
  margin: 10px 0;
  padding-right: 5px;
  
}
.checkboxDelete{
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
}
.addBtn{
  background-color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.inputDiv{
  display: flex;
  justify-content: space-between;
  max-width: 220px;
  margin: auto;
}
.inputDiv input{
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 7px 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.inputDiv button{
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  font-size: 20px;
}

.todoDivContent button{
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: red;
}